body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.CartWidget{
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-right: 10px;
  background-color: aliceblue;
}
.Widget-total{
  font-size: 1.5em;
}
.card-img{
  padding: 5px;
  width: auto;
  max-height: 150px;
  object-fit: scale-down;
}
.card:hover{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}